/* This is the stylesheet for the Trivia game. */
.quizElement{
    display: none;
}

.resultScreen{
    display: none;
}

.wrapper{
    width: 100%;
    padding: 25px;
}

#begin:hover{
    cursor: pointer;
    background-color: blue;
    color: white;
}